# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Flask
instance/
.webassets-cache

# Vue.js / Node.js / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local
.DS_Store
/dist
.cache/

# Vue.js specific
.yarn-integrity
.nuxt
.ssr-build/
.build-cache/
/dist-ssr
*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db